body {
	font-family: sans-serif;
	background: url(../images/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate( -50%, -50%);
	width: 800px;
	padding: 40px;
	background: rgba(0, 0, 0, .7);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	display: flex;
}

.contactBox {
	width: 48%;
	padding-right: 20px;
	margin-right: 20px;
	border-right: 1px solid white;
	flex: 1;
}

.container .contactBox h2 {
    margin: 0 0 30px;
	padding: 0;
	text-align: center;
}

.container .contactBox .inputBox {
	position: relative;
}

.container .contactBox .inputBox input {
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	background: transparent;
	outline: none;
	color: #fff;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
}

.container .contactBox .inputBox label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: white;
	pointer-events: none;
	transition: top 0.5s;
}

.container .contactBox .inputBox textarea {
	background: transparent;
	overflow: hidden;
	border-radius: 5px;
	width: 100%;
	color: white;
	padding: 5px;
	outline: none;
	box-sizing: border-box;
}

.container .contactBox .inputBox input:focus ~ label,
.container .contactBox .inputBox input:valid ~ label {
	top: -18px;
	font-size: 15px;
	color: #03a9f4;
	background: transparent;
}

.container .contactBox input[type="submit"] {
	outline: none;
	background: #03a9f4;
	padding: 10px 20px;
	border: none;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin-top: 20px;
} 
.container .contactBox input[type="submit"]:hover {
	background-color: #000;
}


/* contacts details */

.Contact li {
	list-style-type: none;
	margin-bottom: 15px; 
}
.Contact span {
	font-size: 16px;
	line-height: 32px;
	letter-spacing: 1px;
	color: #fff;
}
.Contact i {
	color: #03a9f4;
	font-size: 25px;
	margin-right: 20px;
}

/*Changing the Auto complete style*/


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
